	.team-card .content {	
	 height: 70px;	 
	}
	ul {list-style: none;
	padding:0;
	}
	
	p{
	color: #252525;
    font-weight: 500;	
	}
	
	.bx{
	color:#0071dc;
	position: absolute;
    left: 0;
    top: 5px;
    margin-right: 5px;
	}
	
	.bx:hover{	
	color:orange;	
	}
	
	li:hover{
	color:blue;
	}
	
	li{
	text-align: justify;
	}
	
	li{
	display: block;
    color: #252525;
    margin-bottom: 10px;
    font-weight: 500;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    padding-left: 35px;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 15px;
	}
	

	
	.go-top i {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color:white!important;
    position: static!important;
    left: 0;
    top: 5px;
    margin-right: 5px;
	}
	
	.bx-headphone{
		
		left:auto!important;
	}
		
		
	