          .slider-wrapper {
  width: 600px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;

}

.inner-wrapper {
  width: 500%;
  height: 100%;
  position: relative;
  left: -100%;
}


.slide {
  width: calc(100%/5);
  height: 100%;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 700;
  float: left;
  border-radius: 15px;

}

.button {
  width: 30px;
  height: 30px;
  border-top: 2px solid black;
  position: absolute;
  cursor: pointer;

}

.prev {
  border-left: 2px solid black;
  left: 100px;
  transform: rotate(-45deg);
}

.next {
  border-right: 2px solid black;
  right: 100px;
  transform: rotate(45deg);
}
.slide img{
  border-radius: 15px;
}