         .about-img .sub-content {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px 10px 23px 10px;
}
#list li {
    color: white;
}
#thisImg_text{
    text-align: center;
    padding: 20px 20px 20px 10px;
}
.services-style-area .section-title h2 {
    max-width: 100%;
    }
    .text1{
 font-size: 45px !important;
    }
    .text2{
        font-size: 45px !important;
    color: #0071dc !important;
    }