@media only screen and (max-width : 767px) {
    /* Default CSS */
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .ptb-70 {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .pt-70 {
        padding-top: 30px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pt-45 {
        padding-top: 30px;
    }
    .ml-20 {
        margin-left: 10px;
    }
    .ml-25 {
        margin-left: 0;
    }
    .mr-20 {
        margin-right: 0;
    }
    .mt-30 {
        margin-top: 0;
    }
    .default-btn {
        padding: 8px 18px;
    }
    .section-title {
        span {
            font-size: 14px;
        }
        h2 {
            font-size: 26px;
            margin-top: 0;
        }
        p {
            margin-left: auto;
            margin-right: auto;
        }
    }
    h3 {
        font-size: 18px;
    }
    /* Default CSS End */

    /* Top Header CSS */
    .top-left-side {
        text-align: center;
        .top-header-text {
            margin-left: auto;
            margin-right: auto;
            &::before {
                display: none;
            }
            p {
                font-size: 15px;
                margin-bottom: 5px;
            }
        }
    }
    .top-header-right {
        float: none;
        text-align: center;
        margin-top: 5px;
        .language-list {
            margin-left: 0;
            margin-right: 0;
            margin-top: 5px;
            &::before {
                display: none;
            }
        }
    }
    .top-head-left {
        margin-top: 3px;
        float: none;
        text-align: center;
    }
    /* Top Header CSS End */

    /* Navbar Area CSS  */
    .side-nav-responsive {
        display: block;
    }
    .d-display {
        display: none;
    }
    .mobile-nav {
        .logo {
            img {
                max-width: 140px;
            }
        }
    }

    .search-overlay {
        .search-form {
            max-width: 100%;
            width: 100%;
            form {
                .input-search {
                    height: 50px;
                    padding: 0 0 0 15px;
                }
                button {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                    line-height: 35px;
                }
            }
        }
    }
    /* Navbar Area CSS End */

    /* Main Banner Area CSS */
    .banner-slider-area {
        position: relative;
        .owl-dots {
            display: inline-block;
            right: 0;
            left: 0;
            top: auto;
            bottom: 55px;
            transform: translateY(-0%);
            .owl-dot {
                span {
                    margin: 7px 7px;
                    width: 30px !important;
                    height: 30px !important;
                }
                &.active span {
                    width: 30px !important;
                    height: 30px !important;
                }
                &:hover span {
                    width: 30px !important;
                    height: 30px !important;
                }
            }
        }
    }
    .banner-item-content {
        padding-top: 140px;
        padding-bottom: 130px;
        span {
            font-size: 15px;
            font-weight: 600;
            padding: 8px 15px;
        }
        h1 {
            max-width: 100%;
            font-size: 35px;
            margin-top: 25px;
        }
        p {
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
    .banner-item-ptb {
        padding-top: 130px;
        padding-bottom: 70px;
        h1 {
            margin-top: 0;
        }
    }
    .banner-area {
        &::before {
            background-image: none;
            background-color: #000000;
            opacity: 0.6;
        }
    }
    .banner-content {
        padding-top: 120px;
        margin-top: 0; 
        h1 {
            font-size: 35px;
            max-width: 100%;
        }
        p {
            font-size: 16px;
            max-width: 100%;
        }
    }

    .banner-img {
        padding-top: 30px;
        .banner-img-shape {
            display: none;
        }
    }
    .banner-sub-slider {
        margin-top: 30px;
        padding-bottom: 70px;
        .banner-sub-item {
            padding: 15px 10px 15px 135px;
            max-width: 300px;
            img {
                max-width: 107px;
            }
            .content {
                padding: 3px 0 7px;
                h3 {
                    font-size: 35px;
                }
                span {
                    font-size: 16px;
                }
            }
        }
    }
    /* Main Banner Area CSS End */

    /* Banner Bottom Area CSS */
    .banner-bottom-area {
        position: inherit;
        margin-top: 50px;
    }

    .banner-bottom-card {
        position: relative;
        padding: 20px 15px;
        text-align: center;
        i {
            position: inherit;
            top: 0;
            left: 0;
            right: 0;
            margin-bottom: 10px;
        }
    }
    /* Banner Bottom Area CSS End */

    .inner-banner {
        .inner-title {
            padding-top: 120px;
            padding-bottom: 60px;
            h3 {
                font-size: 30px;
            }
        }
        .inner-shape {
           display: none;
        }
    }

    /* About Area CSS */
    .about-img {
        margin-top: 30px;
        &::before {
            display: none;
        }
        .sub-content {
            padding: 15px 10px 15px 145px;
            max-width: 295px;
            img {
                max-width: 107px;
            }
            .content {
                padding: 5px 0;
                h3 {
                    font-size: 35px;
                }
                span {
                    font-size: 16px;
                }
            }
        }
    }

    .about-content { 
        .about-list {
            margin: 20px auto 10px;
        }
        .section-title {
            h2 {
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
            }
            p {
                max-width: 100%;
            }
        }
        .about-list-2 {
            margin: 0 auto !important;
        }
        .about-content-card {
            margin-top: 20px;
            i {
                font-size: 40px;
            }
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .about-content-2  {
        .about-card {
            margin-top: 20px;
            .content {
                padding-top: 0;
                padding-left: 0;
                margin-bottom: 0;
                i {
                    font-size: 40px;
                    position: inherit;
                    top: 0;
                    left: 0;
                    right: 0;
                }
                h3 {
                    margin-top: 15px;
                    font-size: 18px;
                    margin-bottom: 0;
                }  
            }
            p {
                margin-top: 15px;
                margin-bottom: 0;
                color: #ffffff;
                font-size: 14px;
            }
        }
    }

    .about-play {
        margin-bottom: 30px;
        img {
            border-radius: 10px;
        }
        .about-play-content {
            margin-top: 30px;
            position: inherit;
            background-color: #0071dc;
            border-radius: 10px;
            padding: 40px 30px 60px;
            max-width: 100%;
            text-align: center;
            &::before {
                display: none;
            }
            h2 {
                font-size: 24px;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto;
                margin-top: 8px;
            }
            .play-on-area {
                position: inherit;
                top: 15px;
                bottom: auto;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                .play-on {
                    width: 60px;
                    height: 60px;
                    font-size: 30px;
                    line-height: 65px;
                }
            }
        }
    }
    /* About Area CSS End */

    .choose-content {
        text-align: center;
        .choose-content-card {
            .content {
                padding-top: 10px;
                padding-left: 0;
                i {
                    position: inherit;
                    top: 0;
                    font-size: 45px;
                }
                h3 {
                    margin-top: 13px;
                    margin-bottom: 10px;
                    font-size: 18px;
                }
            }
            p {
                font-size: 14px;
            }
        }
    }

    .counter-content {
        h1 {
            font-size: 65px;
        }
        h3 {
            font-size: 18px;
        }
    }

    .contact-info {
        padding: 30px 15px 10px;
        ul {
            li {
                margin-bottom: 20px;
            }
        }
    }

    /* Security Area CSS */
    .security-card {
        padding: 30px 20px;
        i {
            width: 65px;
            height: 65px;
            line-height: 65px;
            font-size: 28px;
        }
    }
    /* Security Area CSS End */

    .technology-card {
        i {
            font-size: 40px;
        }
        h3 {
            font-size: 18px;
        }
    }

    /* Service Area CSS */
    .services-card {
        text-align: center;
    }
    .service-shape {
        display: none;
    }
    .services-item {
        text-align: center;
        .content {
            width: 95%;
            padding: 95px 20px 20px;
            i {
                display: inherit;
                top: 25px;
                left: 0;
                right: 0;
                text-align: center;
            }
            h3 {
                font-size: 18px;
            }
        }
    }

    .service-article {
        .service-article-content {
            .service-article-rs {
                margin: 0 0 8px;
            }
        }
    }
    /* Service Area CSS End */

    .case-study-item  {
        .content {
            ul {
                li {
                    font-size: 13px;
                    &::before {
                        width: 1.5px;
                        height: 13px;
                    }
                }
            }
        }
    }

    /* Blog Area CSS */

    
    .blog-article {
        .blog-article-title {
            ul {
                li {
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
            }
        }
        .article-content {
            .blockquote {
                margin-left: 0;
                padding: 20px 30px;
                i {
                    display: none;
                }
            }
        }
        .blog-article-share {
            .blog-tag {
                ul {
                    li {
                        padding: 5px 0;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        a {
                            padding: 6px 12px;
                        }
                    }
                }
            }
            .social-icon {
                float: none;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
        .comments-wrap {
            .comment-list {
                li {
                    padding-left: 0;
                    img {
                        position: inherit;
                        top: 0;
                        left: 0;
                        margin-bottom: 10px;
                    }
                    h3 {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    p {
                        margin-bottom: 10px;
                    }
                    a {
                        color: #0071dc;
                        font-weight: 600;
                        position: inherit;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }

    .blog-style-card {
        .content {
            ul {
                li {
                    margin-right: 5px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }


    .blog-card {
        .blog-img {
            .blog-tag {
                padding: 10px 7px;
                h3 {
                    font-size: 14px;
                }
            }
        }
        .content {
            ul {
                li {
                    font-size: 14px;
                    i {
                        font-size: 15px;
                    }
                }
            }
            h3 {
                font-size: 21px;
            }
            .read-btn {
                font-size: 14px;
            }
        }
    }
    /* Blog Area CSS End */
    
    /* Work Process Area CSS */
    .work-process-card {
        text-align: center;
    }
    .work-process-left {
        padding: 50px 25px;
        text-align: center;
    }
    .work-process-area-two {
        position: relative;
        .col-lg-3 {
            &:nth-child(2) {
                .work-process-card {
                    margin-top: 0;
                }
            }
        }
        .col-lg-3 {
            &:nth-child(4) {
                .work-process-card {
                    margin-top: 0;
                }
            }
        }
    }
    .work-shape {
        display: none;
    }
    /* Work Process Area CSS End */

    .build-content {
        text-align: center;
    }
    .build-btn-area {
        float: none;
        text-align: center;
    }
    
    .case-article {
        .case-article-content {
            .case-article-rs {
                margin: 0 0 8px;
            }
        }
    }
    /* Build Area CSS */
    .build-btn-area {
        float: none;
        margin-top: 20px;
    }
    .build-item {
        .content {
            ul {
                li {
                    font-size: 13px;
                }
            }
        }
    }
    .build-play-img {
        img {
            border-radius: 10px;
        }
        .play-area-content {
            margin-top: 30px;
            position: inherit;
            background-color: #0071dc;
            border-radius: 10px;
            padding: 40px 30px;
            max-width: 100%;
            text-align: center;
            &::before {
                display: none;
            }
            h2 {
                font-size: 24px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .play-area {
            position: absolute;
            z-index: 1;
            top: 18%;
            bottom: auto;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            .play-on {
                width: 60px;
                height: 60px;
                font-size: 30px;
                line-height: 63px;
            }
        }
    }
    .build-text {
        margin-bottom: 25px;
        margin-top: 20px;
        text-align: center;
    }
    .play-btn-area {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    /* Build Area CSS End */

    /* Counter Area CSS */
    .counter-shape {
        display: none;
    }
    .counter-content {
        h1 {
            font-size: 85px;
        }
    }
    .counter-another-content {
        margin-bottom: 20px;
        padding-left: 0;
        position: relative;
        text-align: center;
        i {
            font-size: 40px;
            position: inherit;
            right: 0;
        }
        h3 {
            font-size: 26px;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        span {
            font-size: 15px;
        }
    }
    /* Counter Area CSS End */

    .client-circle {
        display: none;
    }
    .clients-content {
        padding: 30px 15px;
    }
    .clients-area {
        .owl-nav {
            margin-top: 0;
            margin-bottom: 30px;
            .owl-prev {
                top: auto;
                position: inherit;
                transform: translateY(-0%);
                left: 0;
                font-size: 20px !important;
                bottom: -30px;
                width: 35px;
                height: 35px;
                border-radius: 50px;
                line-height: 38px !important;
            }
            .owl-next {
                top: auto;
                position: inherit;
                transform: translateY(-0%);
                right: 0;
                font-size: 20px !important;
                bottom: -30px;
                width: 35px;
                height: 35px;
                border-radius: 50px;
                line-height: 38px !important;
            }
        }
    }

    .blog-card {
        .content {
            padding: 20px;
        }
    }
    /* Error Area CSS */
    .error-area {
        height: 100vh;
        padding-top: 70px;
        padding-bottom: 70px;
        .error-content {
            h3 {
                margin-bottom: 10px;
                font-size: 25px;
            }
            p {
                font-size: 16px;
               padding: 0 15px;
            }
        }
    }
    /* Error Area CSS End */

    /* Coming Soon */
    .coming-soon-area {
        .coming-soon-content {
            padding-top: 30px;
            padding-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
            h1 {
                font-size: 30px;
                line-height: 1.1;
                margin-top: 0;
            }
            p {
                font-size: 14px;
                margin-top: 15px;
            }
            #timer {
                margin-top: 30px;
                div {
                    font-size: 30px;
                    margin-left: 5px;
                    margin-right: 5px;
                    margin-bottom: 15px;
                    span {
                        font-size: 14px;
                        margin-top: -5px;
                    }
                    &::before {
                        display: none;
                    }
                }
            }
            .newsletter-form {
                margin-top: 20px;
                margin-bottom: 20px;
                .input-newsletter {
                    height: 55px;
                    padding-left: 13px;
                    font-size: 15px;
                }
                button {
                    position: relative;
                    font-size: 14px;
                    margin-top: 15px;
                    width: 100%;
                    height: 50px;
                }
            }
        }
    }
    /* Coming Soon End */

    /* Footer Area */
    .footer-widget {
        h3 {
            margin-bottom: 20px;
        }
        .footer-call-content {
            max-width: 100%;
            h3 {
                font-size: 20px;
            }
            i {
                top: 15px;
            }
        }
        p {
            max-width: 100%;
        }
    }
    /* Footer Area End */
}

@media only screen and (max-width : 575px) {
    .banner-item-content {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width : 576px) and (max-width : 767px) {
    .build-play-img {
        .play-area {
            top: 27%;
        }
    }
    .blog-article {
        .blog-article-title {
            ul {
                li {
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
            }
        }
        .article-content {
            .blockquote {
                margin-left: 0;
                padding: 20px 30px;
                i {
                    display: none;
                }
            }
        }
        .blog-article-share {
            .blog-tag {
                ul {
                    li {
                        padding: 5px 0;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
            .social-icon {
                float: right;
                margin-bottom: 0;
            }
        }
    }

    /* Footer Area */
    .footer-widget {
        .footer-call-content {
            padding: 20px 70px 20px 15px;
            h3 {
                font-size: 16px;
            }
            i {
                top: 22px;
                right: 15px;
                width: 45px;
                height: 45px;
                line-height: 45px;
                font-size: 24px;
            }
            span {
                a {
                    font-size: 13px;
                }
            }
        }
        .footer-blog  {
            li {
                h3 {
                    font-size: 15px;
                }
            }
        }
    }
    /* Footer Area End */
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
    /* Default CSS */
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .ptb-70 {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .pt-70 {
        padding-top: 30px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pt-45 {
        padding-top: 30px;
    }
    .mt-30 {
        margin-top: 0;
    }
    .ml-25 {
        margin-left: 0;
    }
    .ml-20 {
        margin-left: 10px;
    }
    .mr-20 {
        margin-right: 0;
    }
    .default-btn {
        padding: 8px 18px;
    }
    .section-title {
        span {
            font-size: 14px;
            list-style: 0;
            padding: 0;
            margin: 0;
        }
        h2 {
            font-size: 26px;
            margin-top: 0;
        }
        p {
            margin-left: auto;
            margin-right: auto;
        }
    }
    h3 {
        font-size: 21px;
    }
    /* Default CSS End */

    .about-play {
        margin-bottom: 30px;
    }
    .work-process-left {
        text-align: center;
    }

    .side-nav-responsive {
        display: block;
    }
    .d-display {
        display: none;
    }
    .mobile-nav {
        .logo {
            img {
                max-width: 140px;
            }
        }
    }
    .top-header-right {
        .language-list {
            margin-left: -15px;
        }
    }
    .about-content-2 {
        .section-title {
            h2, p {
                max-width: 100%;
            }
        }
    }

    /* Navbar Area CSS  */
    .side-nav-responsive {
        display: block;
    }
    .d-display {
        display: none;
    }
    .mobile-nav {
        .logo {
            img {
                max-width: 140px;
            }
        }
    }
    /* Navbar Area CSS End */

    /* Main Banner Area CSS */
    .banner-slider-area {
        position: relative;
        .owl-dots {
            display: inline-block;
            right: 0;
            left: 0;
            top: auto;
            bottom: 55px;
            transform: translateY(-0%);
        }
    }
    .banner-item-content {
        padding-top: 220px;
        padding-bottom: 220px;
        text-align: center;
        span {
            font-size: 15px;
            font-weight: 600;
            padding: 8px 15px;
        }
        h1 {

            font-size: 35px;
            max-width: 100%;
        }
        p {
            font-size: 16px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .banner-item-ptb {
        padding-top: 250px;
        padding-bottom: 190px;
    }
    .banner-content {
        padding-top: 120px;
        margin-top: 0;
        text-align: center;
        h1 {
            font-size: 35px;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            font-size: 16px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .banner-area {
        &::before {
            background-image: none;
            background-color: #000000;
            opacity: 0.6;
        }
    }

    .banner-img {
        padding-top: 30px;
        .banner-img-shape {
            display: none;
        }
    }
    .banner-sub-slider {
        padding-bottom: 70px;
    }
    /* Main Banner Area CSS End */

    /* Banner Bottom Area CSS */
    .banner-bottom-area {
        position: inherit;
        margin-top: 50px;
    }

    .banner-bottom-card {
        position: relative;
        padding: 20px 15px;
        text-align: center;
        i {
            position: inherit;
            top: 0;
            left: 0;
            right: 0;
            margin-bottom: 10px;
        }
    }
    /* Banner Bottom Area CSS End */

    .inner-banner {
        .inner-title {
            h3 {
                font-size: 35px;
            }
        }
    }

    .about-img {
        margin-top: 30px;
        &::before {
            right: -15px;
        }
    }

    .about-content { 
        text-align: center;
        .section-title {
            h2 {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .about-content-2 {
        .section-title {
            p {
                margin-left: 0;
                margin-right: unset;
            }
        }
    }

    .services-card {
        padding: 30px 30px 25px;
    }
    .service-shape {
        display: none;
    }
    .services-item {
        text-align: center;
        .content {
            width: 90%;
            padding: 20px 15px 20px 92px;
            
            h3 {
                font-size: 20px;
            }
        }
    }

    .choose-content {
        .section-title {
            p {
                margin-left: 0 ;
                margin-right: unset;
            }
        }
    }

    .contact-info {
        padding: 40px 20px 10px;
    }

    .work-process-card {
        padding: 30px 32px;
    }
    .work-process-left {
        padding: 50px 30px;
        .section-title {
            h2 {
                font-size: 25px;
            }
        }
    }
    .work-process-area-two {
        position: relative;
        .col-lg-3 {
            &:nth-child(2) {
                .work-process-card {
                    margin-top: 0;
                }
            }
        }
        .col-lg-3 {
            &:nth-child(4) {
                .work-process-card {
                    margin-top: 0;
                }
            }
        }
    }
    .work-shape {
        display: none;
    }

    .build-play-img {
        .play-area-content {
            padding: 100px 70px 65px 30px;
            max-width: 330px;
            &::before {
                width: 91%;
                height: 88.7%;
            }
            h2 {
                font-size: 28px;
            }
        }
    }
    .play-area {
        bottom: 145px;
        left: 190px;
    }

    .counter-shape {
        display: none;
    }
    .counter-content {
        h1 {
            font-size: 65px;
        }
        h3 {
            font-size: 18px;
        }
    }
    
    .counter-another-content {
        margin-bottom: 20px;
        padding-left: 0;
        position: relative;
        text-align: center;
        i {
            font-size: 45px;
            position: inherit;
            right: 0;
        }
        h3 {
            font-size: 30px;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        span {
            font-size: 15px;
        }
    }

    .client-circle {
        display: none;
    }
    .clients-area {
        .owl-nav {
            margin-top: 0;
            margin-bottom: 55px;
            .owl-prev {
                top: auto;
                position: inherit;
                font-size: 20px !important;
                bottom: -30px;
                transform: translateY(-0%);
                width: 35px;
                height: 35px;
                border-radius: 50px;
                line-height: 38px !important;
            }
            .owl-next {
                top: auto;
                position: inherit;
                transform: translateY(-0%);
                font-size: 20px !important;
                bottom: -30px;
                width: 35px;
                height: 35px;
                border-radius: 50px;
                line-height: 38px !important;
            }
        }
    }

    /* Error Area CSS */
    .error-area {
        height: 100vh;
        padding-top: 70px;
        padding-bottom: 70px;
        .error-content {
            h3 {
                margin-bottom: 10px;
                font-size: 25px;
            }
            p {
                font-size: 16px;
               padding: 0 15px;
            }
        }
    }
    /* Error Area CSS End */
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .main-nav {
        .navbar {
            .navbar-brand {
                img {
                    max-width: 140px;
                }
            }
        }
        nav {
            .navbar-nav {
                .nav-item {
                    a {
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                }
            }
        }
        .nav-side {
            .nav-side-item {
                margin-right: 10px;
                .search-side-widget {
                   max-width: 190px;
                }
                .get-btn {
                    .default-btn {
                        padding: 9px 15px;
                    }
                }
            }
        }
    }

    .top-left-side {
        .top-header-social {
            ul {
                li {
                    a {
                        width: 24px;
                        height: 24px;
                        line-height: 26px;
                        font-size: 16px;
                    }
                }
            }
        }
        .top-header-text {
            margin-left: 25px;
            &::before {
                left: -16px;
                width: 1px;
                height: 20px;
            }
            p {
                font-size: 13px;
            }
        }
    }
    .top-header-right {
        .top-contact {
            padding-left: 35px;
           i {
               font-size: 15px;
               width: 24px;
               height: 24px;
               line-height: 24px;
            }
            h3 {
                font-size: 13px;
                color: #ffffff;
                margin-bottom: 0;
            }
        }
        .language-list {
            margin-left: -15px;
            top: -5px;
            .nice-select {
                font-size: 13px;
                &::after {
                    font-size: 15px;
                }
            }
        }
    }

    .banner-slider-area {
        .owl-dots {
            top: 40%;
        }
    }

    .banner-item-content {
        max-width: 600px;
        h1 {
            font-size: 55px;
        }
        p {
            font-size: 17px;
        }
    }
    .banner-bottom-card {
        padding: 30px 20px 30px 100px;
        i {
            position: absolute;
            top: 30px;
            left: 20px;
            font-size: 40px;
            width: 65px;
            height: 65px;
            line-height: 65px;
        }
        h3 {
            font-size: 20px;
        }
    }

    .banner-content {
        margin-top: -20px;
        h1 {
            font-size: 44px;
        }
    }
    .banner-sub-slider {
        margin-top: -50px;
        .banner-sub-item {
            padding: 15px 10px 15px 140px;
            width: 100%;
            img {
                max-width: 107px;
            }
            h3 {
                font-size: 35px;
            }
            span {
                font-size: 15px;
            }
        }
    }
    .banner-img {
        .banner-img-shape {
            bottom: 70px;
            img {
                max-width: 130px;
            }
        }
    }

    .banner-content {
        p {
            font-size: 16px;
        }
    }

    .blog-card {
        .content {
            padding: 30px 25px;
        }
    }
    
    .about-content-2 {
        .about-card {
            .content {
                h3 {
                    font-size: 20px;
                }
            }
        }
    }

    .about-img {
        &::before {
            right: -20px;
        }
    }
    

    .choose-content {
        .choose-content-card {
            .content {
                padding-left: 60px;
                i {
                    font-size: 45px;
                }
                h3 {
                    font-size: 20px;
                    margin-top: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }
     
    .services-card {
        padding: 30px 20px 25px;
        h3 {
            font-size: 20px;
        }
    }
    .service-shape {
        img {
            max-width: 280px;
        }
    }

    .services-item {
        .content {
            width: 95%;
            padding: 20px 15px 20px 92px;
            h3 {
                font-size: 20px;
            }
        }
    }

    .call-contact {
        p {
            font-size: 18px;
        }
    }
   
    .work-process-left {
        padding: 170px 25px;
    }
    .work-process-card {
        padding: 30px 20px;
        h3 {
            font-size: 20px;
        }
    }

    .work-shape {
        img {
            max-width: 975px;
        }
    }

    .counter-shape  {
        .shape1 {
            img {
                max-width: 160px;
            }
        }
        .shape2 {
            img {
                max-width: 160px;
            }
        }
    }

    .counter-another-content {
        padding-left: 85px;
        span {
            font-size: 15px;
        }
    }

    .client-circle {
        .client-circle-2 {
            top: 30%;
        }
    }
    .clients-area {
        .owl-nav {
            .owl-prev {
                left: -20px;
                width: 35px;
                height: 35px;
                line-height: 35px !important;
            }
            .owl-next {
                right: -20px;
                width: 35px;
                height: 35px;
                line-height: 35px !important;
            }
        }
    }

    .call-shape {
        .shape1 {
            left: 20px;
        }
        .shape2 {
            right: 0;
            img {
                max-width: 100px;
            }
        }
        .shape2-rs {
            right: 25px;
            img {
                max-width: 120px;
            }
        }
    }

    .client-circle {
        .client-circle-1 {
            left: 45px;
        }
        .client-circle-3 {
            top: 87%;
            left: 2%;
        }
        .client-circle-6 {
            top: 87%;
            right: 20px;
        }
    }
    
    
    .footer-widget {
        .footer-list {
            li {
                a {
                    color: #ffffff;
                    font-weight: 400;
                    font-size: 14px;
                    i {
                        margin-right: 0;
                        font-size: 16px;
                    }
                }
            }
        }
        .footer-call-content  {
            h3 {
                font-size: 20px;
            }
            i {
                top: 15px;
            }
        }
        .footer-blog {
            li {
                padding-left: 80px;
                img {
                    height: 65px;
                    width: 65px;
                }
                .content {
                    h3 {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width : 1800px) {
    .service-shape {
        img {
            max-width: 500px;
        }
    }
    .counter-shape {
        .shape1 {
            img {
                max-width: 100%;
            }
        }
        .shape2 {
            img {
                max-width: 100%;
            }
        }
    }
    .client-circle {
        .client-circle-1 {
            left: 5%;
        }
        .client-circle-2 {
            left: 15%;
        }
        .client-circle-3 {
            left: 5%;
        }
        .client-circle-4 {
            right: 30%;
        }
        .client-circle-5 {
            right: 15%;
        }
        .client-circle-6 {
            right: 5%;
        }
        .client-circle-7 {
            right: 45%;
        }
    }
    .banner-slider-area {
        .owl-dots {
            right: 20%;
        }
    }
    
}

@media only screen and (min-width : 1200px) and (max-width : 1299px) {
    .clients-area {
        .owl-nav {
            .owl-prev {
                left: -2%;
            }
            .owl-next {
                right: -2%;
            }
        }
    }
    .about-img {
        &::before {
            right: -20px;
        }
    }

    .call-shape {
        .shape2 {
            right: -10px;
        }
    }
     
}

@media only screen and (min-width : 1200px)  {
    .container {
        max-width: 1170px;
    }
    .container-max {
        max-width: 1300px !important;
        margin: 0 auto;
    } 
}

@media only screen and (min-width : 1400px)  {

    .client-circle {
        .client-circle-1 {
            left: 5%;
        }
        .client-circle-2 {
            left: 15%;
            top: 17%;
        }
        .client-circle-3 {
            left: 5%;
        }
        .client-circle-4 {
            right: 30%;
        }
        .client-circle-5 {
            right: 15%;
        }
        .client-circle-6 {
            right: 5%;
        }
        .client-circle-7 {
            right: 45%;
        }
    }
}

@media only screen and (max-width: 991px) {
    .mobile-nav nav .navbar-nav {
        height: 300px;
        overflow-y: scroll;
    }
    .side-bar-area {
        margin-left: 0;
    }
    .side-bar-widget {
        border: 1px solid #f3f3f3;
        padding: 20px;
        margin-bottom: 30px;
        .side-bar-categories {
            margin-bottom: 0;
        }
        .side-bar-widget-tag {
            margin-bottom: 0;
        }
        .blog-gallery {
            margin-bottom: 0;
        }
        .widget-popular-post {
            margin-bottom: 0;
        }
    }
    .call-shape {
        display: none;
    }
    .call-contact {
        text-align: center;
        padding: 50px 0 30px;
        
        h3 {
            font-size: 18px;
        }
        .call-btn {
            font-size: 26px;
        }
        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .contact-info {
        ul {
            li {
                display: inline-block;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}